@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --green: #6a9c89;
  --light-green: #c4dad2;
  --white: #e9efec;
  --dark-green: #16423c;
  --orange: #CD4400
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--green);
  font-family: "Libre Baskerville";
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}


.button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  user-select: none;
  overflow: hidden;
  color: var(--green);
  z-index: 1;
  font-family: inherit;
  font-weight: 500;

}

.button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid var(--green);
}

.button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: var(--green);
}

.button:hover {
  color: var(--white);
}

.button:active span::before {
  background: var(--green);
}

.red {
  color: maroon;
}

.red span {
  border: 4px solid maroon;
}

.red:hover span::before {
  background: maroon;
}

.red:active span::before {
  background: maroon;
}

.orange {
  color: var(--orange);
}

.orange span {
  border: 4px solid var(--orange);
}

.orange:hover span::before {
  background: var(--orange);
}

.orange:active span::before {
  background: var(--orange);
}