a {
  font-size: 22px;
  color: var(--dark-green);
  margin: 0 0 0 50px;
}

.table {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  width: auto;
}

th,
td {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  border: 1px solid var(--green);
  color: var(--dark-green);
}

th {
  font-weight: bold;
  background: var(--dark-green);
  color: var(--light-green);
}
