.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10vh;

  button {
    height: 5vh;
    width: 100px;
    border-radius: 10px;
    border: 2px solid var(--green);
    background: var(--light-green);
    cursor: pointer;
    font-size: 22px;
    color: black;

    a {
      color: var(--dark-green);
    }

    &:hover {
      background: var(--dark-green);
      border: 2px solid var(--dark-green);

      a {
        color: white;
      }
    }
  }
}
