a {
  font-size: 22px;
  color: var(--dark-green);
  margin: 0 0 0 50px;
}

.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: flex-end;
}

.table {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: auto;

  a {
    font-size: 16px;
  }
}

th,
td {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  border: 1px solid var(--green);
  color: var(--dark-green);
}

th {
  font-weight: bold;
  background: var(--dark-green);
  color: var(--light-green);
}
